
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div id="test"> </div>

@section scripts {
    @Scripts.Render("~/bundles/LoginScripts")

    <script>
        $(function () {

            var success_load = (data) => {
                const json_data = JSON.parse(data);
                usuarios = json_data;
                localStorage.setItem('users', JSON.stringify(usuarios));//envio arrelgo de datos
                ingresar(json_data);
            }

            testing.loadUser(success_load);

        });
    </script>
}
